<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="img">
            <img src="../../assets/logo_black.png" alt="">
        </div>
        <div class="box">
            <span class="borderline"></span>
            <form (ngSubmit)="onSubmit()">
                <h2>Sign in</h2>
                <div class="inputBox">
                    <input type="text" [(ngModel)]="email" name="email" required="required">
                    <span>Email</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input id="password" [type]="isPasswordVisible ? 'text' : 'password'" [(ngModel)]="password" name="password" required="required">
                    <span>Password</span>
                    <i></i>
                    <div class="eye" (click)="togglePasswordVisibility()">
                        {{ isPasswordVisible ? '🙉' : '🙈' }}
                    </div>
                </div>
                <input class="submit" type="submit" value="Login">
            </form>
        </div>    
    </div>
</body>
</html>