
<nav class="navbar" @pageAnimations>
     <div class="logo">
            <img src="../../assets/images/logowhite.png" alt="">
    </div>
    <!-- <h1 class="logo2">GradesUp</h1> -->
    <ul class="nav-links">
       
      
        <li class=""><a class="ctn" href="">Home</a></li>
        <li ><a class="login" href="/login">Login</a></li>

       
    </ul>

    <img  class="menu-button" src="assets/images/menu-button.png" alt="">
</nav>
<header @pageAnimations>
    <div class="header-content">
        <img src="../../assets/images/Entry.gif" alt="" class="Image">
       <h2> Explore GradesUp</h2> 
       <div class="line"></div>
       <a href="#features" class="ctn">Learn more</a>

    </div>
</header>
<script>
    const menuBtn = document.querySelector('.menu-button');
    const navLinks = document.querySelector('.nav-links');
    menuBtn.addEventListener('click', () => {
        navLinks.classList.toggle('mobile-menu');
    });

    // Smooth scroll to features section
    document.querySelector('.ctn').addEventListener('click', function(e) {
        e.preventDefault();

        const featuresSection = document.getElementById('features');
        featuresSection.scrollIntoView({ behavior: 'smooth' });
    });
</script>
<main @pageAnimations>
    <div class="title">
        <h1>Our Features</h1>
        <div class="line1"></div>
    </div>
    <section id="features" class="features">
        <div class="feature-box" style="background-image: url('assets/images/quiz-time.png');">
            <div class="feature-content">
                <h3>Quiz Generation by AI</h3>
            </div>
        </div>
        <div class="feature-box" style="background-image: url('assets/images/courseManagement.png');">
            <div class="feature-content">
                <h3>Course Management</h3>
            </div>
        </div>
        <div class="feature-box" style="background-image: url('assets/images/quiz.png');">
            <div class="feature-content">
                <h3>Auto Grading for Quizzes</h3>
            </div>
        </div>
        <div class="feature-box" style="background-image: url('assets/images/remote-proctoring.jpg');">
            <div class="feature-content">
                <h3>Online Proctoring for Exams</h3>
            </div>
        </div>
    </section>
</main>
