<nav class="navbar">
    <a href="#" class="text-gray-400 hover:text-gray-600 font-medium title">Profile</a>
  </nav>
  <div class="container">
    <div class="profile-container">
      <h2 class="h22">Edit Profile <i class="fas fa-edit"></i></h2>
      <form (ngSubmit)="updateAdminProfile()">
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="studentProfile.email" required>
        </div>
  
        <!-- Username -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" [(ngModel)]="studentProfile.username" required>
        </div>
  
        <!-- Current Password (Required if changing password) -->
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" [(ngModel)]="studentProfile.currentPassword">
        </div>
  
        <!-- New Password -->
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="studentProfile.newPassword">
        </div>
  
        <!-- Bio -->
        <div class="form-group">
          <label for="bio">Bio</label>
          <textarea id="bio" name="bio" class="form-control" [(ngModel)]="studentProfile.bio" rows="4"></textarea>
        </div>
  
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </div>
  