<!-- Sidebar Component -->
<div class="container">
  <nav class="sidebar close">
    <div class="main-content">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="../../../assets/images/logo_black2.png" alt="" class="logo">
          </span>
          <div class="text logo-text">
            <span class="name">GradesUP</span>
          </div>
        </div>
        <i class='bx bx-chevron-right toggle' (click)="toggleSidebar()"></i>
       
      </header>
      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <!-- Dashboard Link -->
            <!-- Dashboard Link -->
            <li class="nav-link">
              <a [routerLink]="['/admin']" [ngClass]="{'active': isActive('/admin')}">
                <i class='bx bx-home-alt icon'></i>
                <span class="text nav-text">Dashboard</span>
              </a>
            </li>
      
            <!-- Profile Link (Only for Admins) -->
            <li class="nav-link" *ngIf="userType === 'ROLE_ADMIN'">
              <a [routerLink]="['/admin-profile']" [ngClass]="{'active': isActive('/admin-profile')}">
                <i class='bx bx-user icon'></i>
                <span class="text nav-text">Profile</span>
              </a>
            </li>
            <!-- Courses Link -->
      

            <li class="nav-link" *ngIf="userType === 'ROLE_ADMIN'">
              <a [routerLink]="['/users-profile']" [ngClass]="{'active': isActive('/users-profile')}">
                <i class='bx bx-book icon'></i>
                <span class="text nav-text">Users</span>
              </a>
            </li>
                        <!-- Courses Link -->
                       
                          <li class="nav-link" *ngIf="userType === 'ROLE_STUDENT'">
                          <a [routerLink]="['/student-courses']" [ngClass]="{'active': isActive('/student-courses')}">
                            <i class='bx bx-book-open icon'></i>
                            <span class="text nav-text">Courses</span>
                          </a>
                        </li>
                  
                        <!-- Enroll by Code (Only for Students) -->
                        <li class="nav-link" *ngIf="userType === 'ROLE_STUDENT'">
                          <a (click)="openEnrollModal()" [ngClass]="{'active': isActive('/enroll-by-code')}">
                            <i class='bx bx-book icon'></i>
                            <span class="text nav-text">Enroll by Code</span>
                          </a>
                        </li>
       
          </ul>
        </div>
        <div class="bottom-content">
          <li>
            <a href="#">
              <i class='bx bx-log-out icon'></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
          <li class="mode">
            <div class="sun-moon">
              <i class='bx bx-moon icon moon'></i>
              <i class='bx bx-sun icon sun'></i>
            </div>
            <span class="mode-text text">Dark mode</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </div>
  </nav>
</div>
