<!-- course-details.component.html -->
<div class="container">
  <div class="main-content">
    <div class="header">
      <h1>Course Title</h1>
      <p>Instructor: John Doe</p>
    </div>

    <mat-tab-group>
      <mat-tab label="Stream">
        <div class="announcements">
          <app-announcement [courseId]="courseId"></app-announcement>
        </div>
      </mat-tab>
      <mat-tab label="Lectures">
        <div class="lectures">
          <app-lecture [courseId]="courseId" [studentId]="studentId"></app-lecture>
        </div>
      </mat-tab>
      <mat-tab label="Labs">
        <div class="labs">
          <app-lab [courseId]="courseId"></app-lab>
        </div>
      </mat-tab>
      <mat-tab label="Assignments">
        <div class="assignments">
          <app-assignment [courseId]="courseId"></app-assignment>
        </div>
      </mat-tab>
      <mat-tab label="Quizes">
        <div class="Quizes">
          <app-quiz [courseId]="courseId"></app-quiz>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
