@import '../../../../styles.scss';

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 70%;
  /* margin-top: 77px; */
  margin-left: 280px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 94px;
  @media (max-width: 1200px) {
    max-width: 80%;
    margin-left: 200px;
  }

  @media (max-width: 992px) {
    max-width: 90%;
    margin-left: 100px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    margin-left: 0;
    padding: 20px;
  }
}

.course-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }

    input,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #dcdcdc;
      border-radius: 8px;
      font-size: 16px;
      box-sizing: border-box;
      transition: border 0.3s ease;

      &:focus {
        border-color: #3f51b5;
      }
    }

    textarea {
      min-height: 100px;
      resize: vertical;
    }
  }

  .btn-submit {
    padding: 5px 20px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    transition: background-color 0.3s ease;
    width: 182px;
    margin-top: 8px;
    &:hover {
      background-color: #001486;
    }
  }
}
