<div class="container" @pageAnimations>
  <!-- Left side panel -->
  
  <!-- Main Content -->
  <div class="main-content">
    <div class="header">
      <h1>{{ course?.title }}</h1>
      <p>{{ instructor?.username }}</p>
    </div>
    
    <mat-tab-group>
      <mat-tab label="Stream">
        <div class="announcements">
          <div class="announcement-header">
            <button class="add-announcement-btn" (click)="openAnnouncementDialog()">
              <i class="fa fa-pencil-alt add-announcement-icon"></i>
              Announce Something!
            </button>
          </div>
          
          
          <div *ngFor="let announcement of announcements" class="announcement-card">
            <div class="announcement-actions">
              <div class="settings-dropdown">
                <i class="bx bx-dots-horizontal-rounded" (click)="toggleDropdown(announcement)"></i>
                <div class="dropdown-menu" *ngIf="announcement.showDropdown">
                  <button class="dropdown-item" (click)="Delete(announcement.id)">Delete</button>
                </div>
              </div>
              <span class="announcement-date">{{ formatDate(announcement.createdAt) }}</span>
            </div>
            
            <div class="announcement-header">
              <h3>{{ announcement.title }}</h3>
              <p class="announcement-content">{{ announcement.content }}</p>
            </div>
            
            <div *ngIf="announcement.fileName" class="announcement-file">
              <img src="assets/images/preview.png" alt="File Thumbnail" class="file-thumbnail" (click)="openFileLink(announcement)">
              <a (click)="openFileLink(announcement)" class="announcement-file-link">
                {{ getFileName(announcement.fileName) }}
              </a>
            </div>
            
            <button class="view-comments-btn" (click)="toggleComments(announcement.id)">
              {{ announcement.showComments ? 'Hide Comments' : 'View Comments' }}
            </button>
            
            <div *ngIf="announcement.showComments" class="comments-section">
              <ul [id]="'comments-' + announcement.id" class="comments-list">
                <li *ngFor="let comment of announcement.comments" class="comment-item">
                  <div class="comment-avatar">
                    <img src="assets/images/avatar1.png" alt="User Avatar">
                  </div>
                  <div class="comment-content">
                    <div class="comment-header">
                      <span class="comment-user">
                        {{ comment.userCommentDTO?.userName || 'Unknown User' }}
                      </span>
                      <span class="comment-date">{{ formatDate(comment.createdAt) }}</span>
                    </div>
                    <p>{{ comment.content }}</p>
                  </div>
                </li>
              </ul>
              
              <div class="comment-input-section">
                <input type="text" [id]="'content-' + announcement.id" placeholder="Add a class comment..." [(ngModel)]="newComment[announcement.id]" class="comment-input">
                <button (click)="sendComment(announcement.id)" class="comment-send-btn">Send</button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      
      <mat-tab label="Lectures & Videos">
        <div class="lectures">
          <div class="lecture-header">
            <button class="add-announcement-btn" (click)="openAddMaterialDialog()">
              <i class="fa fa-video add-announcement-icon"></i>
              Add Lecture/Video
            </button>
          </div><br>
          <h2>Lectures</h2>
          <div *ngIf="lectures.length === 0 && videos.length === 0" class="no-lectures">
            <p>No lectures or videos available.</p>
          </div>
          
          <div *ngFor="let lecture of lectures" class="lecture-card announcement-card">
            <div class="announcement-header">
              <h3>{{ lecture.title }}</h3>
              <p class="announcement-content">{{ lecture.content }}</p>
            </div>
            
            <div *ngIf="lecture.fileName" class="announcement-file">
              <img src="assets/images/preview.png" alt="File Thumbnail" class="file-thumbnail" (click)="openFileLink(lecture)">
              <a (click)="openFileLink(lecture)" class="announcement-file-link">
                {{ getFileName(lecture.fileName)  }}
              </a>
            </div>
          </div>
          
          <div class="video-panel" *ngIf="videos.length > 0">
            <h2>Videos</h2>
            <div *ngFor="let video of videos" class="video-card announcement-card">
              <h3>{{ video.title }}</h3>
              <video controls [src]="link2" class="video-content" (click)="openVideoLink(video)"></video>
            </div>
          </div>
        </div>
      </mat-tab>
      
      <mat-tab label="Labs">
        <div class="lectures">
          <div class="lecture-header">
            <button class="add-announcement-btn" (click)="openAddMaterialDialogLabs()">
              <i class="fa fa-book add-announcement-icon"></i>
              Add Labs
            </button>
          </div><br>
          <h2>Labs</h2>
          <div *ngIf="labs.length === 0" class="no-lectures">
            <p>No labs available.</p>
          </div>
          <div *ngFor="let lab of labs" class="lecture-card announcement-card">
            <div class="announcement-header">
              <h3>{{ lab.title }}</h3>
              <p class="announcement-content">{{ lab.content }}</p>
            </div>
            
            <div *ngIf="lab.fileName" class="announcement-file">
              <img src="assets/images/preview.png" alt="File Thumbnail" class="file-thumbnail" (click)="openFileLink(lab)">
              <a (click)="openFileLink(lab)" class="announcement-file-link">
                {{ getFileName(lab.fileName)  }}
              </a>
            </div>
          </div>
        </div>
      </mat-tab>
      
      <mat-tab label="Assignments">
        <div class="assignments">
          <div class="assignment-header">
            <button class="add-announcement-btn" (click)="openAssignmentsDialog()">
              <i class="fa fa-file-alt add-assignment-icon"></i>
              Add Assignment
            </button>
          </div><br>
          <h2>Assignments</h2>
          <div *ngIf="assignments.length === 0" class="no-assignments">
            <p>No assignments assigned.</p>
          </div>
          <div *ngFor="let assignment of assignments" class="assignment-card announcement-card" (click)="viewSubmissions(assignment.id)">
            <div class="announcement-header">
              <h3>{{ assignment.title }}</h3>
              <p class="announcement-content">{{ assignment.content }}</p>
            </div>
      
            <div *ngIf="assignment.fileName" class="announcement-file">
              <img src="assets/images/preview.png" alt="File Thumbnail" class="file-thumbnail" (click)="openFileLink(assignment)">
              <a (click)="openFileLink(assignment)" class="announcement-file-link">
                {{ getFileName(assignment.fileName) }}
              </a>
            </div>
      
            <button class="btn submit-btn" (click)="viewSubmissions(assignment.id)">
              View Submissions
            </button>
          </div>
        </div>
      </mat-tab>
      
      <mat-tab label="Quizzes">
        
        <div class="quizzes">
          <div class="assignment-header">
            <button class="add-announcement-btn" (click)="navigateToUngradedQuizzes()">
              <i class="fa fa-file-alt add-assignment-icon"></i>
              Grade quizzes
            </button>
          </div><br>
          <h2>Quizzes</h2>
          <div *ngIf="quizzes.length === 0">
            <p>No quizzes available.</p>
          </div>
          <div *ngFor="let quiz of quizzes" class="quiz-card announcement-card">
            <div class="announcement-header">
              <h3>{{ quiz.title }}</h3>
              <p>Start Time: {{ quiz.startTime | date }}</p>
              <p>End Time: {{ quiz.endTime | date }}</p>
              <p>Total Grade: {{ quiz.totalGrade }}</p>
            </div>
            <div class="quiz-actions">
              <button  (click)="viewQuiz(quiz.quizId)">View Quiz</button>
              <button  (click)="downloadQuiz(quiz.quizId)">Download Quiz</button>
              <button  (click)="viewQuizSubmissions(quiz.quizId)">View submissions</button>
            </div>
          </div>
        </div>
      </mat-tab>
      
      
    </mat-tab-group>
  </div>
  
  <div class="left-panel">
    <div class="course-info">
      <mat-form-field appearance="fill" class="course-code-field">
        <h3>Course Code</h3>
        <div class="course-code-wrapper">
          <input matInput [value]="course?.courseCode" readonly>
          <mat-icon class="copy-icon" (click)="copyCourseCode()">content_copy</mat-icon>
        </div>
      </mat-form-field>
    </div>
    <div class="course-info">
      <mat-form-field appearance="fill" class="course-code-field">
        <h3>Course password</h3>
        <div class="course-code-wrapper">
          <input matInput [value]="course?.password" readonly>
          <mat-icon class="copy-icon" (click)="copyCoursePassword()">content_copy</mat-icon>
        </div>
      </mat-form-field>
    </div>
  </div>
  <!-- Right side panel -->
  <div class="side-panel">
    <h3>Enrolled Students</h3>
    <div class="student-list">
      <div *ngFor="let student of students | slice:0:5" class="student-item">
        <div class="student-info">
          <div class="student-name">{{ student.username }}</div>
          <div class="student-email">{{ student.email }}</div>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="openStudentDetails()">See All</button>
  </div>
</div>