.container {
  display: flex;
  width: calc(100% - 280px);
  margin-left: 108px;
  overflow-x: hidden;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-right: 76px;
}

.header {
  padding: 30px;
  background: linear-gradient(135deg, #5E5DF0, #222295);
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.header p {
  font-size: 1.2rem;
  margin: 0;
}

.mat-tab-group {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.announcements, .lectures, .labs, .assignments, .quizzes {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.announcements h2, .lectures h2, .labs h2, .assignments h2, .quizzes h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.announcements h2 {
  font-family: 'Georgia', serif;
  font-size: 2rem;
}

.announcements p {
  font-family: 'Arial', sans-serif;
  font-size: 0.87rem;
  line-height: 1.5;
}

.mat-tab-label {
  font-size: 1rem;
  font-weight: 500;
}

.mat-tab-label-active {
  color: #5E5DF0 !important;
}

.side-panel {
  width: 252px;
  background: #f4f4f4;
  border-left: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 245px;
  height: 333px;
  position: absolute;
  top: 0;
  right: 7px;
}
.materials-header, .materials-list, .material-card, .material-header, .material-details {
  display: flex;
  flex-direction: column;
}

.material-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.material-header h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.material-file, .material-details {
  margin-top: 10px;
}

.material-file-link {
  display: block;
  color: #007bff;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}
.side-panel h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  top: 20px;
}
.settings-dropdown {
  position: relative;
}

.bx-dots-horizontal-rounded {
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.announcement-action{
  display:block
}


.announcement-date {
  margin-top: 1px;
  color: #757575;
  font-size: 0.68em;
}

.dropdown-menu button:hover {
  background-color: #f5f5f5;
  color: black;
}
.btn-settings {
    background: none;
    border: none;
    cursor: pointer;
  }

.dropdown-item {
  cursor: pointer;
  padding: 8px 16px;
  color: gray;
}
.dropdown-item :hover{
  color: black;
}
.student-list {
  max-height: 400px;
  overflow-y: auto;
}

.student-item {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-info {
  display: flex;
  flex-direction: column;
}

.student-name {
  font-weight: bold;
}

.student-email {
  color: #555;
}

button {
  background-color: #5E5DF0;
  color: white;
}

button:hover {
  background-color: #4A4ABF;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0;
  }
  
  .main-content {
    width: 100%;
    padding: 10px;
    margin-right: 0;
  }
  
  .side-panel {
    width: 100%;
    box-shadow: none;
    border-left: none;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    position: relative;
  }
}

.course-code-wrapper {
  display: flex;
  align-items: center;
}

.copy-icon {
  cursor: pointer;
  margin-left: 8px;
  color: #5E5DF0;
}
.announcement-file-link {
  display: block;
  color: #007bff;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--mdc-filled-text-field-container-color);
  margin-top: 77px;
}
.announcement-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.left-panel{
  margin-top: 20px;
}

.view-comments-btn {
  margin-top: 10px;
}

.comments-list {
  list-style: none;
  padding: 0;
  margin-top: 6px;
}

.comment-item {
  display: flex;
  align-items: flex-start;
  padding: 8px 0;
}

.comment-avatar {
  margin-right: 8px;
}

.comment-avatar img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}


.comment-content {
  flex-grow: 1;
}


.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-user {
  font-weight: bold;
}

.comment-date {
  color: #757575;
  font-size: 0.6rem;
}

.comment-input-section {
  display: flex;
  align-items: center;
}
.comment-input {
  flex-grow: 1;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

.mat-form-field {
  width: 100%;
}

.no-announcements {
  text-align: center;
  color: #6c757d;
}
.announcements {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}
.announcement-header {
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.add-announcement-btn {
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1rem;
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.add-announcement-btn:hover {
  background-color: #e0e0e0;
}

.add-announcement-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.announcement-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}


.announcement-header h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.announcement-content {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.announcement-file {
  margin-top: 10px;
}

.file-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.announcement-file-link {
  display: block;
  color: #007bff;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}

.view-comments-btn {
  width: 164px;
  background-color: #5E5DF0;
  color: white;
  font-size: 0.78rem;
  padding: 10px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-left: 522px;
}

.view-comments-btn:hover {
  background-color: #222295;
}

.comment-send-btn {
  align-self: flex-end;
  background-color: #5E5DF0;
  color: white;
  font-size: 0.75rem;
  padding: 6px 20px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.comment-send-btn:hover {
  background-color: #000000;
}

.no-announcements {
  text-align: center;
  color: #6c757d;
}

.add-announcement-btn {
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  font-size: 0.83rem;
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.add-announcement-btn:hover {
  background-color: #e0e0e0;
}

.add-announcement-icon {
  margin-right: 7px;
  font-size: 0.84rem; 
}

.submit-btn {
  background-color: #3f51b5;
  color: white;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #001486;
}
.btn {
  margin-left: 566px;
  min-width: 80px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}