<div class="container">
  <form class="assessment-form">
    <h3>Create New Assessment</h3>
    <div class="form-group">
      <label for="type-of-assessment">Type of assessment</label>
      <select id="type-of-assessment">
        <option *ngFor="let type of assessmentTypes" [value]="type.value">{{ type.label }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="assessment-name">Assessment Name <span class="info-tooltip"></span></label>
      <input type="text" id="assessment-name" placeholder="Assessment - Computer Science">
    </div>
    <div class="form-group">
      <label for="start-date">Start Date</label>
      <input type="date" id="start-date">
      <input type="time" id="start-time">
    </div>
    <div class="form-group">
      <label for="end-date">End Date</label>
      <input type="date" id="end-date">
      <input type="time" id="end-time">
    </div>
    <div class="form-group">
      <label for="passing-percentage">Passing Percentage</label>
      <input type="number" id="passing-percentage" placeholder="25">
    </div>
    <button type="submit" class="btn-next" (click)="navigateToGenerateQuiz()">Next</button>
  </form>
</div>
<div class="container">
  <div class="advanced-menu">
    <i class='bx bxs-plus-square'></i>
    <button>Advanced menu</button>
  </div>
</div>
