<div class="container" @formAnimations>
  <form [formGroup]="quizForm" class="assessment-form" (ngSubmit)="navigateToGenerateQuiz()">
    <h3>Create New Assessment</h3>
    <div class="form-group">
      <label for="type-of-assessment">Type of assessment</label>
      <div class="dropdown toggle">
        <input id="t1" type="checkbox">
        <label for="t1">{{ quizForm.controls['typeOfAssessment'].value || 'Select Type of Assessment' }}</label>
        <ul>
          <li *ngFor="let type of assessmentTypes" (click)="setTypeOfAssessment(type)">
            <a href="javascript:void(0)">{{ type.label }}</a>
          </li>
        </ul>
      </div>
      <div *ngIf="quizForm.controls['typeOfAssessment'].invalid && quizForm.controls['typeOfAssessment'].touched">
        <small class="text-danger">Type of assessment is required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="assessment-name">Assessment Name</label>
      <input type="text" id="assessment-name" formControlName="assessmentName" placeholder="Assessment - Computer Science" class="form-control">
      <div *ngIf="quizForm.controls['assessmentName'].invalid && quizForm.controls['assessmentName'].touched">
        <small class="text-danger">Assessment Name is required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="start-date">Start Date</label>
      <input type="date" id="start-date" formControlName="startDate" class="form-control">
      <input type="time" id="start-time" formControlName="startTime" class="form-control">
      <div *ngIf="quizForm.controls['startDate'].invalid && quizForm.controls['startDate'].touched">
        <small class="text-danger">Start Date is required.</small>
      </div>
      <div *ngIf="quizForm.controls['startTime'].invalid && quizForm.controls['startTime'].touched">
        <small class="text-danger">Start Time is required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="end-date">End Date</label>
      <input type="date" id="end-date" formControlName="endDate" class="form-control">
      <input type="time" id="end-time" formControlName="endTime" class="form-control">
      <div *ngIf="quizForm.controls['endDate'].invalid && quizForm.controls['endDate'].touched">
        <small class="text-danger">End Date is required.</small>
      </div>
      <div *ngIf="quizForm.controls['endTime'].invalid && quizForm.controls['endTime'].touched">
        <small class="text-danger">End Time is required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="numOfQuestions">Number of questions</label>
      <input type="number" id="numOfQuestions" formControlName="numOfQuestions" placeholder="20" class="form-control">
      <div *ngIf="quizForm.controls['numOfQuestions'].invalid && quizForm.controls['numOfQuestions'].touched">
        <small class="text-danger">Number of questions must be more than 1.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="selected-course">Select Course</label>
      <div class="dropdown toggle">
        <input id="t2" type="checkbox">
        <label for="t2">{{ quizForm.controls['selectedCourse'].value?.title || 'Select Course' }}</label>
        <ul>
          <li *ngFor="let course of courses" (click)="setSelectedCourse(course)">
            <a href="javascript:void(0)">{{ course.title }} ({{ course.courseCode }})</a>
          </li>
        </ul>
      </div>
      <div *ngIf="quizForm.controls['selectedCourse'].invalid && quizForm.controls['selectedCourse'].touched">
        <small class="text-danger">Course selection is required.</small>
      </div>
    </div>
    <button type="submit" class="btn-next">Next</button>
  </form>
</div>
