@import '../../../../styles.scss';
.container {
    max-width: 70%;
    margin-top: 30px;
    margin-left: 280px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    @media (max-width: 1200px) {
      max-width: 80%;
      margin-left: 200px;
    }
  
    @media (max-width: 992px) {
      max-width: 90%;
      margin-left: 100px;
    }

  }
  
  .assessment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    h3 {
      margin-bottom: 20px;
    }
  
    .form-group {
      display: flex;
      align-items: center; /* Align items vertically */
      gap: 20px; /* Adjust the gap between label and input/select */
  
      label {
        width: 30%;
    
      }
      option{
        padding: 10px auto;
      }
  
      input, select {
        flex: 1; /* Take remaining space */
        padding: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 9px;
        font-size: 15px;
      }
  
      input[type="date"], input[type="time"] {
        width: calc(50% - 10px);
      }
  
      input[type="number"] {
        max-width: 100px;
      }
    }
  
    .info-tooltip {
      margin-left: 5px;
      color: #007bff;
      cursor: pointer;
    }
  
    .btn-next {
      padding: 10px 20px;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      align-self: flex-end;
  
      &:hover {
        background-color: $primary-color-hover
      }
    }
  }
  .advanced-menu {
    display: flex;
    align-items: center; // Vertical alignment
    justify-content: space-between; // Horizontally space items
    button {
      font-size: 25px;
      background-color: #fff;
      color: $primary-color;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
  
      &:hover {
        color: $primary-color-hover;
      }
    }
    i{
        color: $primary-color;
        font-size: 1.3rem;
    }
}
  
  