<nav *ngIf="userTypee === 'ROLE_STUDENT'" class="navbar">
  <!-- Center: Search Panel with Filters -->
  <div class="search">
    <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (keyup.enter)="searchCourses()">
    <i class="fas fa-filter filter-icon" (click)="toggleFilterOptions()"></i> <!-- Filter icon -->

    <div class="filters" *ngIf="showFilterOptions">
      <label>Filter by:</label>
      <select [(ngModel)]="searchType">
        <option value="code">Code</option>
        <option value="title">Title</option>
      </select>
    </div>
  </div>

  <!-- Notification Bell with Badge -->
  <div class="notifications">
    <img src="../../../assets/images/notification-bell.png" alt="notification bell" class="bell" height="30px" (click)="toggleNotificationPanel()">
    <span *ngIf="notificationCount > 0" class="notification-badge">{{ notificationCount }}</span>

    <!-- Notification Panel -->
    <div *ngIf="showNotificationPanel" class="notification-panel">
      <ul *ngIf="notifications.length > 0; else noNotifications">
        <li *ngFor="let notification of notifications">
          {{ notification.notificationMessage }}
        </li>
      </ul>
      <ng-template #noNotifications>
        <div class="no-notifications">
          <img src="../../../assets/images/no-noti.png" alt="No notifications icon" class="no-noti-icon">
          <p>No recent updates!</p>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Right side: User Panel -->
  <div class="user-panel">
    <div class="user-name" (click)="toggleDropdown()">
      {{ userName$ | async }}
      <img src="../../../assets/images/profile.png" alt="Profile" class="profile-icon">
    </div>
    <div *ngIf="showDropdown" class="dropdown-menu">
      <div class="user-details">
        <div (click)="goToProfile()">Profile</div>
      </div>
    </div>
  </div>
</nav>
