.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e4e9f7;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 161px; /* Adjust margin as needed */
}

.search input {
  padding: 8px;
  margin-right: 10px; /* Adjust margin as needed */
  border: 1px solid #ccc; /* Example border */
  border-radius: 4px; /* Example border radius */
}

.filters {
  display: flex;
  align-items: center;
}

.filters label {
  margin-right: 5px; /* Adjust margin as needed */
}

.notifications {
  margin-left: 665px;
}

.notification-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.bell {
  width: 22px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.notification-badge {
  background-color: #5e7394;
  color: white;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 0.66rem;
  position: absolute;
  top: 3px;
  right: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "DM Sans";
  z-index: 1;
}

.notification-icon:hover .bell {
  transform: scale(1.1);
}

.notification-panel {
  position: absolute;
  top: 42px;
  right: 200px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  transition: all 0.3s ease;

  .no-notifications {
    text-align: center;
    padding: 20px;

    .no-noti-icon {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}

.notification-panel.open {
  display: block;
}

.notification-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notification-panel li {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.search-panel {
  position: absolute;
  top: 100%; /* Align below the navbar */
  left: 0;
  background-color: #fff;
  padding: 10px;
  display: none; /* Initially hide panels */
  z-index: 100; /* Ensure panels appear above other content */
}

.search-panel.open {
  display: block; /* Show panels when open */
}

.user-panel {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.user-name {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 37px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 9px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 78px;
}

.dropdown-menu div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: #e4e9f7;
}
