<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
               <img src="../../assets/images/logowhite.png" alt="">
       </div>
       <ul class="nav-links">
          
           <li><a  href="/">Home</a></li>
           <li class=""><a class="ctn" href="/login">Login</a></li>  
       </ul>
       <img src="assets/images/menu-button.png" alt="" class="menu-btn">
   </nav>

    
  
   <header [@pageAnimations]>
    <div class="container" >

        <div class="box" >
            <span class="borderline"></span>
            <form (ngSubmit)="onSubmit()">
                <h2>Sign in</h2>
                <div class="inputBox">
                    <input type="text" [(ngModel)]="email" name="email" required="required">
                    <span>Email</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input id="password" [type]="isPasswordVisible ? 'text' : 'password'" [(ngModel)]="password" name="password" required="required">
                    <span>Password</span>
                    <i></i>
                    <div class="eye" (click)="togglePasswordVisibility()">
                        {{ isPasswordVisible ? '🙉' : '🙈' }}
                    </div>
                </div>
                <input class="submit" type="submit" value="Login" >
            </form>
        </div>    
    </div>
</header>
<script>
    const menuBtn = document.querySelector('.menu-btn');
    const navLinks = document.querySelector('.nav-links');
    menuBtn.addEventListener('click', () => {
        navLinks.classList.toggle('mobile-menu');
    });

   
</script>
</body>

</html>